# Ambiente virtual Python
venv/

# Dependências do Node.js
node_modules/

# Bytecode Python compilado
*.pyc
*.pyo
*.pyd

# Arquivos de compilação C
*.o

# Arquivos de extensão Python
*.dll
*.exe

# Arquivos de log
*.log

# Arquivos de backup
*.bak

# Arquivos de metadados do macOS
.DS_Store

# Arquivos de cache de miniaturas do Windows
Thumbs.db

# Configurações do IntelliJ IDEA
.idea/

# Configurações do Visual Studio Code
.vscode/

# Arquivo de variáveis de ambiente
.env

# Arquivo de variáveis de ambiente locais
.env.local

# Arquivos de variáveis de ambiente locais específicos
.env.*.local
